<!DOCTYPE html>
<html>
  <%- include('partial/head', { title: 'Cursos Disponíveis' }); %>

  <body>
    <%- include('partial/navbar', { user: user }); %>

    <div class="container" />
      <div class="row">
        <% for (const course of courses) { %>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
              <img src="/public/img/course.jpg" class="card-img-top" alt="Imagem de um grafo." />
              <div class="card-body">
                <h5 class="card-title"><%= course.name %></h5>
                <p class="card-text"><%= course.description %></p>
                
                <% if (user && user.courses.some(c => c.id === course.id)) { %>
                  <a href="/courses/<%= course.id %>">
                    <button class="btn btn-block btn-primary" type="button">Acessar</button>
                  </a>
                <% } else { %>
                  <form method="POST" action="/courses/<%= course.id %>/enrollment">
                    <button class="btn btn-block btn-primary" type="submit">Matricular-se</button>
                  </form>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>